*{
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:rgb(36, 204, 148);
}
.title{
    width: 100%;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;


}
.titleimg{
    height: 80px;
}
.titlespan{
    font-size:65px;
    color:blueviolet;

}
.nav{
    width:100%;
    height: 50px;
    background-color: aqua;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom:2px solid
}
.nav p a{
    text-decoration: none;
    color: azure;
    font-size: 25px;
    

}
.nav p a:hover{
    color:blueviolet
}
.content{
    width: 100%;
    padding:20px;
    border:2px solid black;
    border: radius 10px;
    box-shadow: 5px 5px 10px;


}